{{#with themes}}
  <div class="navigation">
      <ul class="breadcrumb">
        <li class="active">Free</li>
        <li><a href="premium.html">Premium</a></li>
        <li><a href="minimalistic.html">Minimalistic</a></li>
      </ul>
  </div>
  <div class="row">
    {{#each ghost-themes}}
      {{#if free}}
        {{>theme}}
      {{/if}}
    {{/each}}
  </div>
{{/with}}
