{{#with themes}}
  <div class="navigation">
      <ul class="breadcrumb">
        <li><a href="free.html">Free</a></li>
        <li><a href="premium.html">Premium</a></li>
        <li><a href="minimalistic.html">Minimalistic</a></li>
      </ul>
  </div>
  <div class="row">
    {{#each ghost-themes}}
      {{>theme}}
    {{/each}}
  </div>
{{/with}}
