{{#with themes}}
  <div class="navigation">
      <ul class="breadcrumb">
        <li><a href="free.html">Free</a></li>
        <li><a href="premium.html">Premium</a></li>
        <li class="active">Minimalistic</li>
      </ul>
  </div>
  <div class="row">
    {{#each ghost-themes}}
      {{#if minimalictic}}
        {{>theme}}
      {{/if}}
    {{/each}}
  </div>
{{/with}}
