
<footer class="footer">
    <ul>
        <li><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>GhostHub.com 2015</li>
        <li><a href="index.html">Home page</a></li>
    </ul>
    <button type="button" class="btn btn-default back-to-top">Back to top</button>
    <div class="clearfix"></div>
</footer>
